<div class="span12">
<div id="gridArea" style="height: 1795px;">
<ul id="tiles" style='list-style-type: none;'>  
    <li>
	<p></p>
	</li> 
	<li>
	</li> 
	<li>
	</li> 
	<li>
	</li> 						
</ul>
</div>
</div>