<!DOCTYPE html>
<html>
<head>
    <title>SBA - adding new event</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="api/jquery2.js"></script>
	<script src="api/socketcluster.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
<table id='coefficientsTable'>
	<tr>
		<th>Время</th><th>Leon</th><th>Fonbet</th><th>888</th><th>1xstavka</th><th>Liga stavok</th><th>Winline</th><th>BK Olimp</th><th>Baltbet</th><th>Betcity/th>
	</tr>
</table>
</body>
<script src='scripts/eventpage.js'></script>
</html>