<!DOCTYPE html>
<html>
<head>
	<title>SBA admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/1.css"/>
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
</head>
<body>
<a href='/eventaddform'>Добавить событие для парсинга</a>&nbsp;&nbsp;
<a href='/newsaddform'>Добавить новость в пульс рынка</a>
<form id="getEditPagesForm"  class='editFormCall' action="/admin/getEditPagesForm" method="post" style="margin-left: 5%;" enctype="multipart/form-data">
		<h3>Редактирование страницы</h3>
			<select name='bk' class='form-control'>
				{{#each bk}}
				<option value={{this.bk}}>{{this.bk}}</option>
				{{/each}}
			</select>
			<select name='formname' class='form-control'>
				<option value='editbkpageform'>Страница букмекера</option>
				<option value='editlineform'>Линия</option>
				<option value='editsocialform'>Социальные факторы</option>
				<option value='editreputationform'>Репутация</option>
				<option value='editexpertsform'>Экспертные оценки</option>
				<option value='edittrafficform'>Траффик</option>
			</select>
		<div class="form-group">
		 <label>Период выборки</label>
					<select class="form-control" name='month' class='form-control'>
						<option value='01'>Январь</option>
						<option value='02'>Февраль</option>
						<option value='03'>Март</option>
						<option value='04'>Апрель</option>
						<option value='05'>Май</option>
						<option value='06'>Июнь</option>
						<option value='07'>Июль</option>
						<option value='08'>Август</option>
						<option value='09'>Сентябрь</option>
						<option value='10'>Октябрь</option>
						<option value='11'>Ноябрь</option>
						<option value='12'>Декабрь</option>
					</select>
					<select class="form-control" name='year' class='form-control'>
						<option value='2017'>2017</option>
					</select>
		</div>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Редактировать"></input>
	</div>	
</form>
<form id="getCreateBKrateForm"  class='editFormCall' action="/admin/geteditbkrateform" method="post" style="margin-left: 5%;" enctype="multipart/form-data">
		<h3>Редакитровать страницу рейтинга</h3>
			<select name='bk' class='form-control'>
				{{#each bk}}
				<option value={{this.bk}}>{{this.bk}}</option>
				{{/each}}
			</select>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Редактировать"></input>
	</div>	
</form>
<form id="getCreateBKrateForm"  class='editFormCall' action="/admin/getratetotaltable" method="post" style="margin-left: 5%;" enctype="multipart/form-data">
		<h3>Сводная таблица рейтинга</h3>
	<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Редактировать"></input>
	</div>	
</form>
<div id='load'>
</div>
</body>
<script src="/api/jquery2.js"></script>
<script src="/api/collapse.js"></script>
<script src="/scripts/tabsApp.js"></script>
<script>
	$('.editFormCall').on('submit', function(e){
		e.preventDefault();
		var $that = $(this);
		var formData = new FormData($that.get(0));
		$.ajax({
				url: $that.attr('action'),
				type: $that.attr('method'),
				contentType: false,
				processData: false,
				data: formData,
				success: function(html){
						$('#load').empty();
						$('#load').append(html);
				}
		});
		
	});
</script>